
* ,body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.list-item {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.link-item {
  text-decoration: none;
  margin-left: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.header-section {
  background-color: rgb(242, 244, 246);
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
}